@import url("./reset.css");
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: color;
}
.gamestatus {
  color: white;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 4rem;
}
.centerdiv {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  display: flex;
  flex-direction: column;
  height: 100%;
  aspect-ratio: 1/1;
  gap: 4px;
}
.board > * {
  flex: 1;
  gap: 4px;
  display: flex;
}
.board > * > * {
  background-color: yellow;
  flex: 1;
}
.ctl {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.ctl button {
  padding: 1em;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 2rem;
}
.cells {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
